body {
  background-color: #e7f0fd;
  color: #18181b;
}

.navbar {
  background-color: #ffffff;
  color: #181818;
}
.footer {
  background-color: #ffffff;
  color: #181818;
}

.navitem,
.footeritem {
  color: #181818;
  transition: all 0.3s ease-in-out;
}

.navitem:hover,
.footeritem:hover {
  color: #0f79a3;
}

.hero,
.banner {
  background: linear-gradient(145deg, #1798c0, #0f79a3);
  color: #e7f0fd;
}

.slow {
  transition: all 0.3s ease-in-out;
}

.consultation {
  background: linear-gradient(145deg, #1798c0, #0f79a3);
  color: #e7f0fd;
}

.card {
  background: #ffffff;
  color: #181818;
  transition: all 0.3s ease-in-out;
}

.servicecard {
  background: #ffffff;
  color: #181818;
  transition: all 0.3s ease-in-out;
}

.servicecard:hover {
  background: #0f79a3;
  color: #e7f0fd;
}

.loginbtn {
  background: transparent;
  color: #181818;
  transition: all 0.3s ease-in-out;
  border: 2px solid #1798c0;
}

.loginbtn:hover {
  background: #0f79a3;
  color: #e7f0fd;
}

.btn {
  background: #1798c0;
  color: #e7f0fd;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #0f79a3;
}

.input {
  border: 1px solid #1798c0;
}

::-webkit-scrollbar {
  display: none;
}